$navbar-background: map-get($foundation-palette, primary);
$navbar-color: #fff;
$navbar-submenu-background: $navbar-background;
$navbar-submenu-border: $navbar-background 1px solid;


// 34. Title Bar
// -------------

$titlebar-background: $navbar-background;
$titlebar-color: $navbar-color;
$titlebar-padding: 0;
$titlebar-text-font-weight: normal;
$titlebar-icon-color: $titlebar-color;
$titlebar-icon-color-hover: $titlebar-color;
$titlebar-icon-spacing: 0.25rem;



// 36. Top Bar
// -----------

$topbar-padding: 0 0.5rem;
$topbar-background: $navbar-background;
$topbar-submenu-background: $topbar-background;
$topbar-title-spacing: 1rem;
$topbar-input-width: 200px;
$topbar-unstack-breakpoint: medium;
